
<div class="w-full flex flex-row gap-5 items-center">
    <div class="text-xl font-regular">@($"{@Label}:")</div>
    <input placeholder="@Placeholder" class="flex-grow p-1 rounded-md border border-black/50 border-1" @onchange="OnInputChanged" value="@Value"/>
</div>

@code
{
    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        await OnValueChanged.InvokeAsync(e.Value?.ToString());
    }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Value { get; set; }
}